package com.company;

import java.util.Scanner;

public class Control_Statement {

    public static void main(String[] args) {
        do {
            System.out.println("Welcome to The Operators \n1 for Unary\n2 for Arithmetic\n3 for Left Shift & Right Shift\n4 for And & OR\n5 for Ternary\n6 for Assignment\n7 for Exit");
            int In;
            Scanner myInput = new Scanner(System.in);
            In = myInput.nextInt();

            switch(In){
                case 1:
                    int x=10 , y=20;
                    System.out.println(x++);
                    System.out.println(++x);
                    System.out.println(x--);
                    System.out.println(--x);

                    System.out.println(x++ + ++y);
                    System.out.println(y++ + x++);
                    break;

                case 2:
                    int a=10;
                    int b=5;
                    System.out.println(a+b);
                    System.out.println(a-b);
                    System.out.println(a*b);
                    System.out.println(a/b);
                    System.out.println(a%b);

                    System.out.print("10*10/5+3-1*4/2 = ");
                    System.out.println(20*10/5+3-1*4/2);
                    break;

                case 3:
                    System.out.println(10<<2);
                    System.out.println(10<<3);
                    System.out.println(20<<2);
                    System.out.println(15<<4);

                    //Right Shift
                    System.out.println(10>>2);
                    System.out.println(20>>2);
                    System.out.println(20>>3);

                    //Shift
                    System.out.println(20>>2);
                    System.out.println(20>>>2);
                    System.out.println(-20>>2);
                    System.out.println(-20>>>2);
                    break;

                case 4:
                    //Logical && and Bitwise &
                    int A=10;
                    int B=5;
                    int C=20;
                    System.out.println(A<B&&A<C);
                    System.out.println(A<B&A<C);
                    //Logical && vs Bitwise &
                    System.out.println(A<B&&A++<C);
                    System.out.println(A);
                    System.out.println(A<B&A++<C);
                    System.out.println(A);
                    //Logical || and Bitwise |
                    System.out.println(A>B||A<C);
                    System.out.println(A>B|A<C);
                    //|| vs |
                    System.out.println(A>B||A++<C);
                    System.out.println(A);
                    System.out.println(A>B|A++<C);
                    System.out.println(A);
                    break;

                case 5:
                    int X=2;
                    int Y=5;
                    int min=(X<Y)?X:Y;
                    System.out.println(min);
                    break;

                case 6:
                    int U=10;
                    int I=20;
                    U+=4; I-=4;
                    System.out.println(U);
                    System.out.println(I);

                    U+=3;//10+3
                    System.out.println(U);
                    U-=4;//13-4
                    System.out.println(U);
                    U*=2;//9*2
                    System.out.println(U);
                    U/=2;//18/2
                    System.out.println(U);
                    break;}
        }while (false);
    }
}
